<!DOCTYPE html>
<html lang="en">
	<head>
	    <%- include('../partials/head', {role: role}) -%>
	</head>
	<body class="container">

		<header>
		    <%- include('../partials/header', {role: role}) -%>
		</header>

		<main>
			<dir class="jumbotron">
		     Зміна запису Реєстратора
		 	</dir>
			<div class="panel panel-default">
				<div class="panel-body">
				    <form>
					  <div class="form-group">
					    <label for="inputName" class="col-sm-2 col-form-label">П.І.Б</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" id="inputName" placeholder="Прізвище Ім'я По-Батькові" value="<%= oldUserVal.fullname %>">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputDate" class="col-sm-2 col-form-label">Дата народження
					    <div class="col-sm-10">
					      <input type="text" class="form-control" id="inputDate" placeholder="12.03.2004" value="<%= oldUserVal.additional_data %>">
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="inputPass" class="col-sm-2 col-form-label">Номер паспорту</label>
					    <div class="col-sm-10">
					      <input type="text" class="form-control" id="inputPass">
					    </div>
					  </div>
					  <div class="form-group">
					      <label class="col-sm-2 col-form-label" for="selActivity">Активність:</label>
					      <div class="col-sm-10">
						      <select class="form-control" id="selActivity">
						        <option value="1" <% if(oldUserVal.is_active){ %> selected <% } %>>Активний</option>
						        <option value="0" <% if(!oldUserVal.is_active){ %> selected <% } %>>Неактивний</option>
						      </select>
						  </div>
					  </div>
					  <div class="form-group">
					    <div class="col-sm-10">
					    	<script type="text/javascript">
					    		var name_input = document.getElementById("inputName");
								var date_input = document.getElementById("inputDate");
								var pass_input = document.getElementById("inputPass");
								var activity_sel = document.getElementById("selActivity");

					    		function add_new(){
					    			var activity_val = ;

					    			fetch("/api/user/<%= oldUserVal.login %>", {
							            method: "PUT", 
							            body: JSON.stringify({
							            	fullname: name_input.value,
							            	additional_data: "Дата народження: "+date_input.value+" Номер паспорту: "+pass_input.value,
							            	is_active: activity_sel.options[activity_sel.selectedIndex].value == 1
							            })
							        }).then(res => {
							            if(!res.ok){
								            alert('Невірний формат полів!');
								        }
							        });
					    		}

					    		function delete_new(){
					    			if(comfirm("Ви точно хочете видалити цього користувача?")==true)
					    			fetch("/api/user/<%= oldUserVal.login %>", {
							            method: "DELETE"
							        }).then(res => {
							            window.location.href = '/registrator/list';
							        });
					    		}
					    	</script>
					      <button type="button" class="btn btn-primary" onclick="add_new()">Зберегти</button>
					      <button type="button" class="btn btn-primary" onclick="delete_new()">Видалити</button>
					    </div>
					  </div>
					</form>
				</div>
			</div>
		</main>

		<footer>
		    <%- include('../partials/footer', {role}) -%>
		</footer>

	</body>
</html>